synapsepoc/pipeline/ReadingResult.json
{
	"name": "ReadingResult",
	"properties": {
		"activities": [
			{
				"name": "MDMF_RowCount",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "MDMF_RowCount",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MDMF_RowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SparkOutput",
					"value": {
						"value": "@activity('MDMF_RowCount').Output.result.exitValue.FwkLogId",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"SparkOutput": {
				"type": "String"
			}
		},
		"annotations": []
	}
}